#blocpage
{
	width: 1200px;
	margin: 100px auto;
}

/* en tête */
header
{
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	background-color: rgba(0, 0, 0, 0.9);
	height: 160px;
}
a
{
	color: white;
}
h1
{
 text-align: center;
 color: white;
 font-size: 35px;
}
h2
{
	text-align: center;
	margin-top: auto;
	color: white;
	font-size: 15px;
}
/* en tête */`

/* box gauche CV*/

article
{
	display: block;
	flex-direction: column;
	width: 550px;
	justify-content: space-evenly;
	margin-right: 40px;
}
article p
{
	margin-left: 10px;
}

article img
{
	width: 30px;
}
/*box gauche CV*/

/* coeur du CV */

h3
{
	margin-left: 10px;
}

section
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

aside
{
	background-color: rgba(0, 0, 0, 0.1);
	margin-left: 40px;
	margin-top: 40px;
	text-align: inherit;
}
aside p
{
	margin-left: 10px;
}

#profil
{
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}
#etudes
{
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}
#competences
{
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}


/* coeur du CV */